# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
venv/
env/

# Environment variables
.env

# Jupyter
.ipynb_checkpoints/

# Large datasets
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep

# Trained models
models/trained_model/*
models/item_vectors/*

# Outputs
outputs/

# IDE
.vscode/